/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: tan;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

app-nav,
app-teams,
app-add-team,
app-projects,
app-members,
app-not-found {
    padding: 20px;
    margin: 5px;
}

app-nav {
    order: 2;
    flex: 0 1 200px;
    background: rgb(188, 186, 192);
    border-radius: 12px;
}

app-teams,
app-add-team,
app-projects,
app-members,
app-not-found {
    order: 3;
    flex: 1;
    min-height: 500px;
}

@media (max-width: 768px) {
    app-nav {
        flex: unset;
        width: 100%;
    }
}