#team-div {
    width: 250px;
    height: 260px;
    gap: 2;
    text-align: center;
    background-color: rgb(206, 133, 121);
    border-radius: 12px;
}

#create-div {
    width: 250px;
    height: 200px;
    margin-top: 12px;
    gap: 2;
    align-items: center;
    background-color: rgb(233, 229, 229);
    border: 1px solid rgb(201, 198, 198);
    border-radius: 12px;
}

#fa-plus-icon {
    padding-right: 6px;
}

#fa-plus-icon:hover {
    cursor: pointer;
}

#fa-trash-icon:hover {
    cursor: pointer;
}

#projectsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
}

#projectPlaceholderDiv {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    background-color: aliceblue;
}

#teamProjectsDiv {
    width: 100%;
    padding: 6px;
    margin: 4px;
}