<div class="mt-6 mb-4">
    <figure class="max-w-lg">
        <img class="h-48 w-48 rounded-lg"
            src="https://images.pexels.com/photos/34534/people-peoples-homeless-male.jpg?auto=compress&cs=tinysrgb&w=400"
            alt="image description">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">@username</figcaption>
    </figure>
</div>
<nav>
    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="/teams">Teams</a></li>
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="/projects">Projects</a></li>
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="/members">Members</a></li>
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="#">FAQs</a></li>
        <!-- <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/faqs">FAQs</a></li> -->
    </ul>
</nav>