<nav>
    <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="/teams">Teams</a></li>
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="/projects">Projects</a></li>
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="/members">Members</a></li>
        <li class="pb-3 pt-3 sm:pb-4"><a routerLink="#">FAQs</a></li>
        <!-- <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/faqs">FAQs</a></li> -->
    </ul>
</nav>